.nav-wrapper {
    height: 72px;
    background: rgba(0, 0, 0, 0.8);
    font-size: 0.85em;
    font-weight: 200;
    ul li a {
        color: #fff;
    }
}

.nav-toggler {
    color: #fff;
}

.nav-item {
    padding: 4px 0;
    border-bottom: 1px solid #4b4b4b;
    text-align: left !important;
}